* {
    font-family: sans-serif;
    padding: 0;
}

html,
body {
    min-height: 100%;
}

body {
    background: #AFEEEE;
    background: -webkit-linear-gradient(top, #AFEEEE, #1E5B69);
    background: -moz-linear-gradient(top, #AFEEEE, #1E5B69);
    background: linear-gradient(to bottom, #AFEEEE, #1E5B69);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

ul {
    font-size: 50px;
    margin: auto;
}

li {
    list-style: none;
}

.wrapper {
    padding-top: 5px;
    max-width: 1300px;
    margin: auto;
}

.colorRed {
    color: red;
}


@media screen and (max-width: 767px) {
    ul {
        font-size: 30px;

    }
}

@media screen and (max-width: 479px) {
    ul {
        font-size: 20px;

    }
}
