* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    min-height: 100vh;
    background: #06AFF7;
    background: -webkit-linear-gradient(top, #06AFF7, #1E5B69);
    background: -moz-linear-gradient(top, #06AFF7, #1E5B69);
    background: linear-gradient(to bottom, #06AFF7, #1E5B69);
    background-repeat: no-repeat;
    background-size: cover;

}

body {
    background-image: url(../img/fonnaglavnuu.jpg);
    background-position: center;
    background-size: cover;
    min-height: 200vh;
}

.wrapper {
    max-width: 1300px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    margin: auto;
    text-align: center;
    min-height: 100vh;
}

/* .buttonWrapper {
    margin: auto;
    display: flex;
    max-width: 600px;
    justify-content: space-between;
}

.buttonWrapper li {
    list-style: none;
}

.buttonWrapper li a {
    display: block;
    text-decoration: none;
    color: #000;
    width: 170px;
    height: 42px;
    background-color: #f2eded;
    border-radius: 25px;
    text-align: center;
    padding-top: 12px;
}

.buttonWrapper li a:hover {
    background-color: #5F03E4;
    color: #fff;
} */

h1 {
    font-size: 100px;
    color: #f2eded;

}

h3 {
    color: #f2eded;
    font-size: 40px;
    margin: 10px 0 38px 0;
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: calc(80vh - 50px);

}

.content {
    margin-top: 10px;
    height: 200px;
}


@media screen and (max-width: 700px) {
    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 30px;
        margin: 10px 0 38px 0;
    }

    .buttonWrapper li a {
        display: none;
        width: 144px;
        height: 31px;
        border-radius: 25px;
        padding-top: 6px;
    }

    .centerContent {
        height: calc(70vh - 50px);
    }
}

@media screen and (max-width: 620px) {
    .centerContent {

        height: calc(70vh - 30px);
    }
}

@media screen and (max-width: 533px) {
    h1 {
        font-size: 50px;
    }

    h3 {

        font-size: 20px;
        margin: 10px 0 38px 0;
    }

    .buttonWrapper li a {
        width: 115px;
        height: 30px;
        border-radius: 25px;
        padding-top: 6px;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 20px;
        margin: 10px 0 38px 0;
    }

    .buttonWrapper li a {
        width: 75px;
        height: 21px;
        border-radius: 25px;
        padding-top: 2px;
        font-size: 13px;
    }
}

@media screen and (max-width: 305px) {
    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 15px;
        margin: 10px 0 38px 0;
    }

    .buttonWrapper li a {
        width: 60px;
        height: 15px;
        border-radius: 25px;
        padding-top: 2px;
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    .centerContent {

        height: calc(70vh - 20px);
    }
}

@media screen and (max-width: 245px) {
    .centerContent {

        height: calc(70vh - 15px);
    }
}
